{% extends 'base.html' %}
{% block title %}
    <title>Pokemon Team Builder | Home</title>
{% endblock title %}

{% block content %}
    <div class="hero-section text-center py-4">
        <div class="hero-img">
            <img src="https://upload.wikimedia.org/wikipedia/commons/9/98/International_Pok%C3%A9mon_logo.svg" alt="pokemon-logo" width="300">
        </div>
        <div class="hero-body">
            <h5>Build your own Team!</h5>
        </div>
    </div>
    <div class="main-content container overflow-hidden">
        <!-- show here the pokemon cards from the PokeAPI -->
        <div class="cardheader"></div>

        <!-- insert here the cards -->
        <div class="row p-4 g-2">

            {% include 'pokemon/includes/main_cards_display.html' %}

        </div>
    </div>
{% endblock content %}

