{% extends 'base.html' %}

{% block title %}
    <title>Pokemon Team Builder | My Teams</title>
{% endblock title %}

{% block content %}
    <div class="my-teams container p-4">
        <div class="header text-center">
            <h2>YOUR TEAMS</h2>
            <p>Start building your dream team</p>
            <a href="#" class="btn btn-dark btn-md">Create a team</a>
            <hr class="mx-auto" width="100">
        </div>
        <div class="main-content">
            {% if teamdata %}
                <div class="row p-4 g-2">
                    {% include 'pokemon/includes/team_cards.html' %}
                </div>
            {% else %}
                {% include 'pokemon/includes/empty_state_team.html' %}
            {% endif %} 
        </div>
        
    </div>
    
{% endblock content %}