
    <div class="col-12 col-lg-6">
        {% comment %} {% include 'pokemon/includes/team_card.html' %} {% endcomment %}

        <div class="team-card card shadow-sm h-100 bg-dark text-light">
            <div class="card-body">
                <h3>Team Title</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, illum?</p>
            </div>
        </div>
    </div>

    <div class="col-12 col-lg-6">
        {% comment %} {% include 'pokemon/includes/team_card.html' %} {% endcomment %}

        <div class="team-card card shadow-sm h-100 bg-dark text-light">
            <div class="card-body">
                <h3>Team Title</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, illum?</p>
            </div>
        </div>
    </div>

    <div class="col-12 col-lg-6">
        {% comment %} {% include 'pokemon/includes/team_card.html' %} {% endcomment %}

        <div class="team-card card shadow-sm h-100 bg-dark text-light">
            <div class="card-body">
                <h3>Team Title</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, illum?</p>
            </div>
        </div>
    </div>
